version: "3.9"

services:
  mysql:
    build:
      context: ./mysql
      dockerfile: Dockerfile
    container_name: task-mysql
    restart: always
    network_mode: host
    volumes:
      - mysql_data:/var/lib/mysql

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: task-backend
    restart: always
    ports:
      - "5000:5000"
    environment:
      PORT: 5000
      DB_HOST: mysql
      DB_PORT: 3306
    depends_on:
      - mysql
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: task-frontend
    restart: always
    ports:
      - "5173:80"
    environment:
      VITE_API_URL: http://backend:5000
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mysql_data:

